[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#tqdm = "*"
#xattr = "*"
#functools = "*"

[dev-packages]

[scripts]
install = "pip install tqdm xattr"
index = "python clonefile-index.py"
verify = "python clonefile-verify.py"
dedup = "python clonefile-dedup.py"

[requires]
python_version = "3.7"
python_full_version = "3.7.17"
