[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
xattr = "*"

[dev-packages]

[script]
index = "python clonefile-index.py"
verify = "python clonefile-verify.py"
dedup = "python clonefile-dedup.py"

[requires]
python_version = "3.7"
